@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Public style*/
*{
  margin:0;
  border: 0cap;
  box-sizing: border-box;
}

a{
  text-decoration-line: none;
}
ul{
  list-style-type: none;
}
.container{
  width: 85%;
  margin: auto;
  padding-top: 1.6% ;
  padding-bottom: 1.6% ;
}
body{
  background-color: rgb(246, 246, 246);
}


/*navbar*/
.navbar .container{
  display: flex;
  justify-content :space-between;
}
.navbar{
  background-color: rgb(28, 28, 28);
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.logo{
  margin-top: .3%;
}
.list{
  margin-top: .3%;
  margin-left: 350px;
}
.logo img{
  width:60%;
}
.list ul{
  display: flex;
}
.list ul li{
  margin-right:35px;
}
.list ul li a{
  color: azure;
  text-transform:uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.list ul li a:hover{
  color: #ffc800;
}

/*portfolio*/
.portfolio{
  text-align: center;
}
.title h2{
  text-transform:uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 900;
  margin-top: 3.5%;
  margin-bottom: 1%;
}
.title p{
  text-transform:capitalize;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4%;
  color: rgb(116, 114, 114);
}
.items{
  display: flex;
  flex-wrap: wrap;
  gap:25px;
}
.row{
  display:flex ; 
  gap:25px;
}
.item{
  display: flex;
  flex-wrap: wrap;
  flex-direction:  column;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.item img{
  width: 100%;
  display:block;
}
.item h3{
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  font-weight: 900;
  text-transform: capitalize;
}
.item p{
  text-transform:capitalize;
  font-style: italic;
  font-size: 90%;
  font-weight: 500;
  margin-bottom: 5%;
  color: rgb(116, 114, 114);
}
.picture{
  background-color: aliceblue;
  position: relative;
}
.hov{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 200, 0, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.hov i{
  font-size: 400%;
}
.hov:hover{
  opacity: 1;
}
